	
#this is a valid configuration file 
spImagesDirectory = ./images/ 
spImagesPrefix=img 
spImagesSuffix = .png 
spNumOfImages = 1 7 

spKNN=
spNumOfFeatures = 
spPCADimension =
spPCAFilename =
spExtractionMode =
spMinimalGUI =  
spNumOfSimilarImages = 
spLoggerFilename = 
spKDTreeSplitMethod=
spLoggerLevel=