
#this is a valid configuration file 
spImagesDirectory = ./images/ 
spImagesPrefix=img 
spImagesSuffix = .p ng 
spNumOfImages = 17 

spKNN=
spNumOfFeatures = 
spPCADimension =
spPCAFilename =
spExtractionMode =
spMinimalGUI =  
spNumOfSimilarImages = 
spLoggerFilename = 
spKDTreeSplitMethod=
spLoggerLevel=