
#this is a valid configuration file 

spImagesDirectory = ./images/ 
spImagesPrefix=img 
spImagesSuffix = .png 
spNumOfImages = 17 

spNumOfFeatures = 
spPCADimension =
spPCAFilename =
spExtractionMode =
spMinimalGUI =  
spNumOfSimilarImages = 
spLoggerFilename = 
spKNN=
spKDTreeSplitMethod=
spLoggerLevel=